<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的图书馆</title>
    <script src="/js/jquery-3.4.1.js"></script>
    <script>

    </script>
</head>
<body>
    <ul>
        <li>
            <a href="/bookAdmin/borrow">借书</a>
        </li>
        <li>
            <a href="/bookAdmin/return">还书</a>
        </li>
        <li>
            <a href="/user/searchBook">查找书籍</a>
        </li>
<!--        <li>-->
<!--            <a>查询用户</a>-->
<!--        </li>-->
        <li>
            <a href="/bookAdmin/pay">缴费</a>
        </li>
        <li>
            <a href="/bookAdmin/reset">重置密码</a>
        </li>
        <li>
            <a href="/bookAdmin/addOrdinaryBook">添加中外文图书</a>
        </li>
        <li>
            <a href="/bookAdmin/addMagazine">添加杂志</a>
        </li>
        <li>
            <a href="/bookAdmin/addPaper">添加论文</a>
        </li>
<!--        <li>-->
<!--            <a>修改书籍</a>-->
<!--        </li>-->
        <li>
            <a href="/bookAdmin/info">个人信息</a>
        </li>


    </ul>
</body>
</html>