<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的图书馆</title>
    <script src="/js/jquery-3.4.1.js"></script>
    <script>

    </script>
</head>
<body>
    <ul>
      <li>
          <a href="/systemAdmin/listBookAdmin">查看图书管理员</a>
      </li>
      <li>
          <a href="/systemAdmin/addBookAdmin">添加图书管理员</a>
      </li>
      <li>
          <a href="/systemAdmin/adSystemAdmin">添加系统管理员</a>
      </li>
      <li>
          <a href="/systemAdmin/info">个人信息</a>
      </li>

    </ul>
</body>
</html>